body {
    font-family: sans-serif;
}
header h1{
    padding: 33px;
    text-align: center;
    color: white;
}
main h1{
    text-align: center;
}
nav a{
    text-decoration: 3px underline black;
    color: black;
    padding: 9px;
    border-radius: 15px;
    margin: 33px;
}
main p{
    border: 1px solid black;
    border-radius: 14px;
    text-align: center;
}
main img{
    border-left:6px dotted black;
    
}
footer{
    background-color: darkblue;
    padding: 3px;
  
}
footer h5{
    background-color: white;
    padding: 3px;
    margin: 6px;

}
.place{
    height:150px; 
    width:200px;
    
}
.room{
    height: 150px;
    width: 225px;
    
}
.climb{
    height: 150px;
    width: 100px;
}
